mat-toolbar {
    background-color: transparent !important;
}

mat-toolbar h2{
    font-size: 0.8em;
}

div.products-container {
    display: flex;
    flex-wrap: wrap;
}

div.search-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.search-not-found h2{
    margin-bottom: 0;
    margin-top: 10px;
}
div.search-not-found .emoji {
    font-size: 50px;
}