.loading {
    padding: 10px;
    text-align: center;
    
}

.loading .loading-title {
    letter-spacing: 2px !important;
    font-weight: 600;
}

.error .loading-title{
    margin-bottom: 0px;
}

.error p {
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    width: 100% !important;
}

.mat-dialog-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

