<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button color="link" (click)="navbar.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name" [routerLink]="([main])">KIX CLOTHING</h1>
    <span class="spacer"></span>
    <button mat-icon-button color="basic" *ngIf="router.url.match('/dashboard.*')" (click)="router.navigate([''])">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <div class="navigate-buttons" *ngIf="router.url === '/'">
        <button mat-icon-button (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="basic">
            <mat-icon *ngIf="false">person</mat-icon>
            <mat-icon>person_outline</mat-icon>
        </button>
        <button mat-icon-button color="basic" [matMenuTriggerFor]="wishList">
            <mat-icon matBadge="{{favoriteService.favorites}}" matBadgeColor="accent" matBadgeSize="small" *ngIf="hasFavorite">favorite</mat-icon>
            <mat-icon *ngIf="! hasFavorite">favorite_outline</mat-icon>
        </button>
        <mat-menu #wishList="matMenu" style="max-width: none !important;">
            <app-view-wish-list></app-view-wish-list>
        </mat-menu>
    </div>
</mat-toolbar>